/* 公共的csss */
html,body{
    margin:0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul,ol,li{
    list-style: none;
    padding: 0;
    margin:0;
}
input{
    height: 26px;
    border:none;
    border-radius: 5px;
    text-indent:5px;
  }